<!DOCTYPE html>
<html>
<head>
    <title>Mini Search Engine</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Mini Search Engine</h1>

        <form method="POST">
            <input 
                type="text" 
                name="query" 
                placeholder="Search anything..."
                value="{{ query }}"
                required
            >
            <button type="submit">Search</button>
        </form>

        {% if history %}
            <div class="history-box">
                <h3>Recent Searches</h3>

                {% for item in history %}
                    <p>{{ item[0] }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="results">
            {% for result in results %}
                <div class="result-card">
                    <h2>{{ result.title }}</h2>
                    <a href="{{ result.url }}" target="_blank">{{ result.url }}</a>
                    <p>{{ result.snippet }}</p>
                    <small>Relevance Score: {{ result.score }}</small>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>